/* *, *::before, *::after{
    padding: 2rem;
    margin: 0;
} */
body{
    padding: 2rem;
    margin: 0;
    width: 40rem;
}
header{
    background-color: black;
    position: fixed;
}
#home, #menu, #about {
    border-radius: 4px;
    padding: 4px;
    background-color: rgb(0, 162, 255);
    color: black;
}
#home:active, #menu:active, #about:active {
    background-color: aqua;
    color: black;
}
#content{
    padding: 4rem;
}
.name{
    font-size: 32px;
    font-weight: bold;
    padding: 5rem;
}
